In [223]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.stats import levene
from scipy.stats import shapiro

In [224]:
df1 = pd.read_excel('owan01.xls')
df2 = pd.read_excel('owan02.xls')
df3 = pd.read_excel('owan03.xls')
df4 = pd.read_excel('owan04.xls')
df5 = pd.read_excel('owan05.xls')
df1

*** No CODEPAGE record, no encoding_override: will use 'ascii'
*** No CODEPAGE record, no encoding_override: will use 'ascii'
*** No CODEPAGE record, no encoding_override: will use 'ascii'
*** No CODEPAGE record, no encoding_override: will use 'ascii'
*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X1    X2     X3    X4
0    93  85.0  100.0  96.0
1   120  45.0   75.0  58.0
2    65  80.0   65.0  95.0
3   105  28.0   40.0  90.0
4   115  75.0   73.0  65.0
5    82  70.0   65.0  80.0
6    99  65.0   50.0  85.0
7    87  55.0   30.0  95.0
8   100  50.0   45.0  82.0
9    90  40.0   50.0   NaN
10   78   NaN   45.0   NaN
11   95   NaN   55.0   NaN
12   93   NaN    NaN   NaN
13   88   NaN    NaN   NaN
14  110   NaN    NaN   NaN

In [225]:
df = df4
samples = []

for i in df.columns:
    samples.append(df[i].dropna())

In [226]:
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
fvalue, pvalue = stats.f_oneway(df['X1'], df['X2'], df['X3'], df['X4'])
print('f_value =',fvalue,'p_value =',pvalue)

f_value = nan p_value = nan

In [227]:
df_melt = pd.melt(df.reset_index(), id_vars=['index'], value_vars=['X1', 'X2', 'X3', 'X4'])
df_melt.columns = ['index', 'treatments', 'value']

# Ordinary Least Squares (OLS) model
model = ols('value ~ C(index)', data=df_melt).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\base\model.py:1830: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 15, but rank is 12
  warnings.warn('covariance of constraints does not have full '

            sum_sq    df         F    PR(>F)
C(index)  16736.25  15.0  0.901552  0.555597
Residual  38365.25  31.0       NaN       NaN

In [228]:
print("Kiểm định shapiro:")
#stat, p = shapiro(df)
#print('Statistics=%.3f, p=%.3f' % (stat, p))
    # interpret
w, pvalue = stats.shapiro(model.resid)
print('Statistics =',w,'p =',pvalue)
alpha = 0.05
if pvalue > alpha:
    print('Mẫu tuân theo phân phối chuẩn(bác bỏ giả thuyết H0)')
else:
    print('Mẫu không tuân theo phân phối chuẩn(Chưa có bằng chứng bác bỏ giả thuyết H0)')

Kiểm định shapiro:
Statistics = 0.9665000438690186 p = 0.2265147715806961
Mẫu tuân theo phân phối chuẩn(bác bỏ giả thuyết H0)

In [215]:
#from bioinfokit.analys import stat 
#res = stat()
#levene(df=df_melt, res_var='value', xfac_var=['X1', 'X2'])
#levene_summary

In [229]:
print('Phép thử levene :')
stats, pv_l = stats.levene(*samples)
print('stats =',stats,'p =',pv_l)
if pv_l > 0.05:
    print('Phương sai bằng nhau')
else:
    print('Có ít nhất một cặp Phương sai không bằng nhau')

Phép thử levene :
stats = 0.21149738099464205 p = 0.9309738160407797
Phương sai bằng nhau

In [230]:
import scipy.stats as stats

stats , pv_a = stats.f_oneway(*samples)
print('stats =',stats,'p =',pv_a)

if pv_a > 0.05:
    print('Các giá trị trung bình bằng nhau')
else:
    print('Có tối thiểu một cặp giá trị trung bình có giá trị khác nhau')

stats = 3.246336180136248 p = 0.018391232905488122
Có tối thiểu một cặp giá trị trung bình có giá trị khác nhau